[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
dash = "*"
dash-daq = "*"
dash-bootstrap-components = "*"
requests = "*"
joblib = "*"
scikit-learn = "*"
gunicorn = "*"
matplotlib = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.9"
